:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color:#FFFFFF;

}

html {
    box-sizing: border-box;
}

*,
* ::before,
* ::after {
    box-sizing: inherit;
}
body{
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family:'Roboto', sans-serif;
    letter-spacing: 2%;
    font-size: 14px;
    margin: 0;
}
h1, h2, h3 {
    color: var(--title-text-color);
}
 /*  header */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

.logo-accent {
    color: #2196F3;
}

.site-nav-links:hover,
.site-nav-links:focus {
    color: #2196F3;
}

.site-nav-links {
    text-decoration: none;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: var(--title-text-color);

    
}
.contact-nav-links{
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
}

.contact-nav-links:hover,
.contact-nav-links:focus {
    color: var(--accent-color);
}

/* hero */
.hero-title {
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 6px;
}


/* Наши преимущества */
.feauter-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;

}

.feauter-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

}

/* Чем мы занимаемся */
.aboutus-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    }


/* 
.aboutus-link:hover,
.aboutus-link:focus {
    color: var(--accent-color);
    
} */

.aboutus-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

/* Наша команда */
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
}

.team-profession {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;

}

.socialmedia a:hover,
.socialmedia a:focus {
 
    color: var(--accent-color);
}

/* Постоянные клиенты */
.clients-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
}

.clients-link a:hover,
.clients-link a:focus {

    color: var(--accent-color);

}

/* футер */

.logo.footer {

    font-size: 22px;

}

.footer-socialmedia.list a {
    color: var(--primary-white-color);
}

.footer-socialmedia.list a:hover,
.footer-socialmedia.list a:focus {

    color: var(--accent-color);
}

.address {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    font-style: normal;

    color:var(--primary-white-color);

}

.address a {

    color: rgba(255, 255, 255, 0.6);
}

.address a:hover,
.address a:focus {

    color: var(--accent-color);
}


.joinus {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;

    color: var(--primary-white-color);
}


.follow-us {

    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;

    color: var(--primary-white-color);
}



/* 

portfolio

*/

.button.primary.radio:hover,
.button.primary.radio:focus {

    color:var(--accent-color)
}

.button.secondary.radio:hover,
.button.secondary.radio:focus {

    color:var(--accent-color)
}

.categories-title {

    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.categories.list p{

    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
}








/* button */


.button {

    display: inline-block;
    
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
}

.button.primary{

    background-color: var(--accent-color);

    color: var(--primary-white-color);
    text-decoration: none;
    font-size: 16px ;
    font-weight: 700 ;
    line-height: 30px;
    letter-spacing: 0.06em;

    padding: 10px 23px;

}

.button.secondary{

    background-color: #F5F4FA;
    color: var(--title-text-color);

}

.list {

    list-style: none;

}